/* Universal styling */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f4f5f7;
}

h1, h2 {
    color: #333;
    margin-bottom: 1rem;
}

a {
    color: #0077cc;
    text-decoration: none;
    margin-top: 1rem;
    display: inline-block;
}

a:hover {
    text-decoration: underline;
}

/* Form styling */
form {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin-top: 10px; /* Giving space below the header */
}

form div {
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    color: #666;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    transition: border 0.3s ease;
}

input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #0077cc;
    outline: none;
}

button {
    background-color: #0077cc;
    color: #fff;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0055a5;
}

.btn-container {
    text-align: center;
}


/* Error message styling */
#errorMessage {
    color: red;
    margin-top: 10px;
}

/* Account page-specific styling*/
.account-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f4f5f7;
}

#header {
    width: 100%;
    max-width: 1300px; /* Or whatever maximum width you prefer */
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    position: relative; /* So it doesn't overlap with forms */
}

#logoutBtn {
    order: 2; /* Push to the end/right */
    text-align: right; 
}

#userInfo {
    order: 1; /* Keep to the start/left */
}

#repaymentFormContainer, #borrowFormContainer {
    text-align: center;
    margin-top: 100px;
    font-size: large;
    width: 100%;
    max-width: 400px; /* Or whatever width you prefer */
    margin: auto 0;
}

#repaymentFormContainer {
    display: none;
}